params {
    input = "${projectDir}/tests/assets/samplesheet_rds.csv"
    notebook = "${projectDir}/tests/assets/external_rds_report.qmd"
}

process {
    withName: '.*QUARTONOTEBOOK.*' {
        conda = "${projectDir}/tests/assets/environment.yml"
        container = {
            workflow.containerEngine in ['singularity', 'apptainer'] && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a2/a29bf0ef21375ea090eaf0aba28b1534c7e73c3ad3117f8665f7204ed4ec8ab2/data'
                : 'community.wave.seqera.io/library/bioconductor-singlecellexperiment_bioconductor-summarizedexperiment_jupyter_matplotlib_pruned:0863a7410fcd16b6'
        }
    }
}
