params {
    input = "${projectDir}/tests/assets/samplesheet_rds.csv"
    notebook = "${projectDir}/tests/assets/external_rds_report.qmd"
}

process {
    withName: '.*QUARTONOTEBOOK.*' {
        container = 'community.wave.seqera.io/library/bioconductor-singlecellexperiment_bioconductor-summarizedexperiment_jupyter_matplotlib_pruned:0863a7410fcd16b6'
        conda = "${projectDir}/tests/assets/environment.yml"
    }
}
